{% if __SELF__.containerId is not empty and __SELF__.trackerDomain is not empty %}
<!-- Matomo Tag Manager -->
<script type="text/javascript">
    var _mtm = _mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://{{ __SELF__.trackerDomain }}/js/container_{{ __SELF__.containerId }}.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
{% endif %}